<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>send comment demo</title>
    <script src="./vue_2.5.22.js"></script>
    <script src="./vue-resource-v1.5.1.js"></script>
    <link rel="stylesheet" href="./bootstrap3.3.7/css/bootstrap.min.css">
</head>
<body>

    <div id="app">
        <h3>{{ msg }}</h3>
        <senddata @load="loadComment"></senddata>
        <hr>
        <!-- 列表组 -->
        <ul class="list-group">
            <li class="list-group-item" v-for="item in list">{{ item.say }} <span class="badge text-right">{{ item.name }}</span></li>
          </ul>
    </div>

        
    <template id="send">
        <div class="form-group">
            <label>发表人</label>
            <input class="form-control" placeholder="请输入发表人" v-model="sonname" @keyup.enter="SendHandler">
            <label>发表内容</label>
            <textarea class="form-control" rows="3" placeholder="请输入发表内容" v-model="sontext" ></textarea>
            <button type="button" class="btn btn-success" @click="SendHandler" >SendComment</button>
        </div>
    </template>

    <script>

        //在内部定义的全局组件
        var vm = new Vue({
            el: "#app",
            data: {
                msg:"发表评论",
                list:[
                    { 
                        name : '江小白',
                        say : "我最白"
                    },
                    {
                        name : '黑妹',
                        say : '嘿嘿,黑妹'
                    }

                ]
            },

            created() {
                this.loadComment()
            },
            methods : {
                loadComment(){
                    var objList=JSON.parse(localStorage.getItem("sendCommentDemo") || '[]') 
                    // console.log(objList);
                    this.list = objList
                },
            },
            components : {
                'senddata' : {  
                    template: "#send",
                    data:function(){
                        return {
                            sonname : "",
                            sontext : "",
                        }
                    },
                    methods: {
                        SendHandler(){
                            if(this.sonname == "" || this.sontext == "") {
                                alert("请正确输入")
                                return ;
                            }
                            var obj = {"name": this.sonname,"say": this.sontext};
                            // console.log(this.sonname,this.sontext);
                            
                            //1.先找出localstorage中存在的数据
                            var obj2=JSON.parse(localStorage.getItem("sendCommentDemo") || '[]' )  
                            //2.将现在的push进入以前的
                            obj2.unshift(obj)

                            // 3.存储前先用JSON.stringify()方法将json对象转换成字符串形式
                            obj2 = JSON.stringify(obj2)
                            // console.log(obj2);

                            //4.将对象存储到localStorage中
                            localStorage.setItem("sendCommentDemo",obj2)

                            this.sonname = ""
                            this.sontext = ""

                            this.$emit("load")
                        },
                    },
                }
            },
        })

    </script>
</body>
</html>